<%= render 'layouts/header' %>

<div class="container">
	<div class="row">

		<p class="title-text"> お祭りからのお知らせ一覧　</p>


			<table class="table table-bordered sub-text">
				<thead>
					<tr>
						<th style="width: 20%">お祭りの名前</th>
						<th style="width: 10%;">配信日</th>
						<th style="width: 70%">お知らせ内容</th>
					</tr>
				</thead>
					<% @informations.each do |information| %>
					<tbody>
					<tr>
						<td>
							<%= link_to information.festival.name, festival_path(information.festival.id), class: "link-none " %>
						</td>
		                <td><%= information.created_at.strftime('%Y/%m/%d') %></td>
		                <td><%= information.message %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
	</div>
</div>

<p class="pagetop"></p>


