// Place all the styles related to the admins/organization_inquirys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.inquity-box{
	width: 100%;
	height: auto;
	background-color: #ffffcc;
	padding:10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}