// Place all the styles related to the staffs/staff_inquirys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.inquirys-buttn{
  margin: 10px 10px 0 0;
  width: 70px;
  height: 30px;
  font-size: 16px;
}

.inquirys-show-buttn-text{
  font-size: 16px;
  padding:5px;
}

.inquirys-show-buttn{
  margin: 30px 0 20px 0;
  height: 30px;
}

