<%= render 'layouts/header' %>

<h1 class="top-h">FESTAへようこそ！</h1>



<div class="container-fluid">
	<div class="top-festival-box">
		<%= link_to festivals_path,class: "link-none" do %>
		<p class="top-festival-text link-none">お祭りを探しに行く</p>
		<% end %>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="top-staff-box">
				<%= link_to new_staff_session_path,class: "link-none" do %>
				<p class="top-staff-text link-none">スタッフ登録画面へ</p>
				<% end %>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="top-organization-box">
				<%= link_to new_organization_session_path,class: "link-none" do %>
				<p class="top-organization-text link-none">団体登録画面へ</p>
				<% end %>
			</div>
		</div>
	</div>
</div>


<div class="hanavi"></div>








