<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>



<script>
	let mapInstance  //この変数はmap.js.erbでも使う


function initMap(){
  mapInstance = new google.maps.Map(document.getElementById('map'), {
  center: {lat: @let, lng: @lon},
  zoom: 8
  });
}



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM3X900YOUbEJiQe9DnUJYZFoUzVhCVd4&callback=initMap" async defer></script>