/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "slick-theme";
 @import "slick";


body{
  background-color: rgba(220,255,255,0.5);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.drawer-menu-item:hover{
  font-size: 18px;
}



.link-none{
  text-decoration: none;
  color: #333333;
}
.link-none:hover {
  text-decoration: none;
  opacity: 0.5 ;
}

 #map{
 height: 300px;
 width: 550px;
 }


.pointa{
	position: relative;
	cursor: pointer;
}


.balloon1{
	display: none;
	position: absolute;
  z-index: 1;
	padding: 16px;
	background-color: #f5deb3;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
	width:200px;
	top: 65%;
	margin-top: 12px;
}

.balloon2{
	display: none;
	position: absolute;
  z-index: 1;
	padding: 16px;
	background-color: #f5deb3;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
	width:230px;
	top: 65%;
	margin-top: 12px;
}


.balloon-active{
	display: block;
}




.heder-li-search{
	margin: 0px 20px 0 20px;
	font-size: 24px;
  color: #00bfff;
}


.heder-li-s{
  margin: 0px 20px 0 20px;
  font-size: 24px;
}

footer{
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #e6e6fa;
  margin-top: auto;
  position: relative;
}

.title-text{
  font-size: 60px;
  color: #333333;
  text-shadow: 1px 1px 0 #FFF, -1.2px -1.2px 0 #000000;
  text-align: center;
}

.sub-text{
  color: #444444;
}

.sub-sgin-text{
  color: #444444;
  font-size: 16px;
  margin: 5px 0 5px 0;
}

.drawer-menu-item{
  font-size: 50px;
}


/*上に戻るボタン*/

.pagetop{
  display: none;
  position: fixed;
  bottom: 65px;
  right: 15px;
   width: 60px;
  height: 60px;
  background: image-url("arrow3.png");
  background-size: cover;
  cursor: pointer;
}

.registration-button{
  background-color: #66cdaa;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  color: #f8f8ff;
  width: 200px;
  height: 65px;
  font-size: 20px;
  text-align: center;
}

.green-button{
  background-color: #66cdaa;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  color: #f8f8ff;
  text-align: center;
}

.blue-button{
  background-color: #7fbfff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  color: #f8f8ff;
  text-align: center;
}

.red-button{
   background-color: #ff7f7f;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   color: #f8f8ff;
   text-align: center;
}

.orange-button{
   background-color: #ffbf7f;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   color: #f8f8ff;
   text-align: center;
}


.whitesmoke-button{
  background-color: #f5f5f5;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   color: #f8f8ff;
   text-align: center;
}

.calender-button{
  margin: 10px 0 0 10px;
  font-size: 30px;
}


.sign-button{
  margin: 10px 0 0 0;
  font-size: 20px;
  width: 100%;
}




.select-box{
  font-size: 16px;
}

.paginate-style{
  text-align: center;
  font-size: 24px;
}






/*お問い合わせ*/
.inquiry-message-box{
  width: 100%;
  height: 200px;
}

.inquity-title{
  font-size: 45px;
  color: #333333;
  text-shadow: 1px 1px 0 #FFF, -1.2px -1.2px 0 #000000;
  text-align: center;
  margin: 30px;
}

.inquity-text{
  color: #444444;
  font-size: 24px;
}

.inquity-box{
  width: 100%;
  height: auto;
  background-color: #ffffcc;
  padding:10px;
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: ridge;
}



.paginate-style{
  font-size: 24px;
}



.sub-header-text{
  font-size: 18px;
  text-align: center;
  color: #444444;
}



.index-link-buttn-text{
  font-size: 16px;
  padding: 5px;
}

.index-link-buttn{
  margin: 40px 0 40px 0;
  height: 30px;
}


.new-info-text{
  font-size: 60px;
  color: #333333;
  text-shadow: 1px 1px 0 #FFF, -1.2px -1.2px 0 #000000;
  text-align: center;
}

.new-info-box{
  margin: 10px 0 30px 0;
  height: 600px;
}



.inquirys-buttn{
  margin: 10px 10px 0 0;
  width: 70px;
  height: 30px;
  font-size: 16px;
}

.inquirys-show-buttn-text{
  font-size: 16px;
  padding:5px;
}

.inquirys-show-buttn{
  margin: 30px 0 20px 0;
  height: 30px;
}

.inquirys-index-buttn-text{
  margin: 5px 0 5px 0;
}


.inquirys-index-buttn{
}


/*無限スクロール*/
ul.scroll-list{
  padding: 0;
}

nav.pagination {
  display: none;
}

.scroll{
  font-size: 24px;
}




