/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "slick-theme";
 @import "slick";

 #map{
 height: 300px;
 width: 550px;
 }


#pointa{
	position: relative;
	cursor: pointer;
}


.balloon1{
	display: none;
	position: relative; top: -50px; z-index: 1;
	padding: 16px;
	background-color: #f5deb3;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
	width:200px;
	top: 100%;
	margin-top: 12px;
}

.balloon2{
	display: none;
	position: relative; top: -50px; z-index: 1;
	padding: 16px;
	background-color: #f5deb3;
	-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
	width:230px;
	top: 100%;
	margin-top: 12px;
}

.balloon3{
  display: none;
  position: relative; top: -50px; z-index: 1;
  padding: 16px;
  background-color: #f5deb3;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  width:200px;
  top: 100%;
  margin-top: 12px;
}

.balloon-active{
	display: block;
}




.heder-li{
	margin: 0px 20px 0 20px;
	font-size: 24px;
  color: #00bfff;
}


.heder-li-s{
  margin: 0px 20px 0 20px;
  font-size: 24px;
}


footer{
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #e6e6fa;
}






/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #999999;   /*文字の色を変える*/
  text-decoration: none;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #696969;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
  text-decoration: none;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
  background: #cccccc;     /*背景の色を変える*/
  color: #999999;   /*文字の色を変える*/
  text-decoration: none;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a:hover {
  background: #696969;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
  text-decoration: none;
}

