// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.top-staff{
	background-color: #dddddd;
}

.top-body{
	background-image: url("太陽.jpg");
	height: auto;
    background-size:cover;
    background-position: center;
}
