// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.top-staff{
	background-image: url("太陽.jpg");
	background-repeat:  no-repeat;
    opacity:0.9;
    width:auto;
    height:300pX;
    background-position: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.top-festa-text{
	font-size: 50px;
	color: #383838;
	text-align: center;
}

.top-staff-text-h{
	font-size: 60px;
	text-align: center;
	color: #f0f8ff;
	text-shadow: 2px 2px 0 #FFF, -1px -1px 0 #000000;
	margin: auto;
}


