// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.top-festival-{
	background-color: rgba(255,147,147,0.3);
	background-repeat:  no-repeat;
    opacity:0.9;
    width: 30%;
    height: 150pX;
    background-position: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.top-staff-box{
	background-color: rgba(255,165,0,0.6);
	background-repeat:  no-repeat;
    opacity:0.9;
    width: 30%;
    height: 150pX;
    background-position: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}


.top-organization-{
	background-color: rgba(178,255,178,0.3);
	background-repeat:  no-repeat;
    opacity:0.9;
    width: 30%;
    height: 150pX;
    background-position: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.top-festa-text{
	font-size: 50px;
	color: #383838;
	text-align: center;
}

.top-staff-text-h{
	font-size: 45px;
	text-align: center;
	color: #f0f8ff;
	text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #000000;
	line-height: 150px;
}


