// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.organizations-info{
	font-size: 18px;
	color: #333333;
  	text-shadow: 0.1px 0.1px 0 #FFF, -0.3px -0.3px 0 #000000;
  	line-height: 150px;
}


.organizations-calender{
	font-size: 45px;
    color: #444444;
    text-shadow: 0.1px 0.1px 0 #FFF, -0.3px -0.3px 0 #000000;
}

.info-button{
	font-size: 18px;
	color: #333333;
  	text-shadow: 0.1px 0.1px 0 #FFF, -0.3px -0.3px 0 #000000;
  	width: 60%;
  	margin-bottom: 20px;
}

.calender-button-text{
	color: #333333;
}


.festibal-show-botunn{
	font-size: 24px;
	text-align: center;
	width: 40%;
	margin: auto;
}
