<header>
	<nav class="navbar navbar-default" >
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<nav class="nav navbar-nav navbar-left">
				<%= link_to root_path, :style=>"color:#777;text-decoration: none;" do %>
				<h1>FESTA</h1>
				<% end %>
			</nav>

	<nav>
		<ul class="nav navbar-nav navbar-center" style="margin: 25px 30px 0 30px;">
			<li class="heder_li">
				<div class="search">
					<%= form_tag(festivals_path, :method => 'get' ) do %>
					<p>
						<%= text_field_tag :search %>
						<%= submit_tag '検索', :name => nil %>
					</p>
					<% end %>
				</div>
			</li>
			<li class="pointa heder_li">
				エリアから探す
			</li>
			<li class="pointa heder_li">
				開催月から探す
			</li>
			<li class="heder_li">
				スタッフ
			</li>
			<li class="heder_li">
				団体
			</li>
			<li class="heder_li">
				ユーザー
			</li>
		</ul>
	</nav>

	<nav class="nav navbar-nav navbar-right">
		<p> ようこそゲスト様　</p>
	</nav>
</div>
</div>
</div>
</nav>
</header>