<header role="banner">
	<nav class="navbar navbar-default" >
<div class="container-fluid">
	<div class="row">

			<nav class="nav navbar-nav navbar-left">
				<%= link_to festivals_path, :style=>"color:#777;text-decoration: none;" do %>
				<h1>FESTA</h1>
				<% end %>
			</nav>

	<nav>
		<ul class="nav navbar-nav navbar-center" style="margin: 25px 30px 0 30px;">
			<li>スタッフ一覧</li>
			<li>団体一覧</li>
			<li>お祭り一覧</li>
			<li>プレゼント一覧</li>
		</ul>
	</nav>

</div>
</div>
</nav>
</header>
